.lado{
  margin-left: 1000%;
  color: #ede9e9;;
  background-color: #dc3545;
  padding: 0.75rem;

    font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   border-radius: 8%;
   margin-top: 50%;
   margin-left: 1500%;

}
.finalizar{

}
