<section style="margin-left: 33%;">
  <div class="cadastro">

    <h2 class="form_title title">Criar produto</h2>

    <form>
      <input class="form__input" type="text" placeholder="Nome do produto" id="produto" [(ngModel)]="produto.nome" name="nome">


      <input class="form__input" type="number" placeholder="Valor" id="valor" [(ngModel)]="produto.valor" name="valor">


      <input class="form__input" type="number" placeholder="Quantidade" id="quantidade"
        [(ngModel)]="produto.quantidade" name="quantidade">


      <input class="form__input_d" type="text" placeholder="Descrição" id="descricao" [(ngModel)]="produto.descricao" name="descricao">


      <div class="root">

        <label class="select">
          <select class="select" >
            <option value="1">Salgado</option>
            <option value="2">Lanches</option>
            <option value="3">Sobremesas</option>
            <option value="4">Bebidas</option>
            <option value="5">Combos</option>
            <option value="6">Outros</option>
          </select>
        </label>
        <div>
        <br>
        Prévia:
        <div class="modelo modelo1 ff-roboto-mono">

          <p class="produto">{{ produto.nome }}</p>
          <p class="valor"><b>{{ produto.valor }}</b></p>
          <p class="quantidade"><b>{{ produto.quantidade }}</b></p>
          <p class="descricao"><b>{{ produto.descricao }}</b></p>
        </div>
      </div>
    </div>
      <div >
          <button class="form__button button submit" type="button" (click)="Create()">
            CADASTRAR
          </button>
      </div>
    </form>

  </div>


</section>

