

<header class="header d-flex">
  <h2 class="ff-inter">Meus produtos</h2>
  <input data-test-id="search-input-field" tabindex="0" role="search" type="text" name="q" autocomplete="off" aria-label="Busque por item ou loja" class="search-input__field" placeholder="Busque por item ou loja" value="">
</header>


<div class="cards">
  <div *ngFor="let produto of produtos" class="cards__item">
    <div class="card">
      <div class="card__image card__image--fence"></div>
      <div class="card__content">
        <th class="nome">Nome: {{produto.nome}}</th>
        <th class="nome">Valor: {{produto.valor}}</th>

        <p class="card__text">Descrição: {{produto.descricao}}</p>

        <button class="buybutton">
          <i class="fas fa-shopping-cart"></i> Comprar
        </button>
        <br>



      </div>
    </div>
  </div>

</div>





<!-- <div class="acoes">
      <button class="botao-editar">
        aqui
      </button>
      <button class="botao-editar">
        aqui
      </button>

        </div> -->
<!-- <div class=" produto">

      <th class="nome">Nome: {{produto.nome}}</th>
      <br>
      <th class="nome">Valor: {{produto.valor}}</th>
      <br>
      <th class="nome">Quantidade: {{produto.quantidade}}</th>
      <br>
      <th class="nome"> Descrição:{{produto.descricao}}</th>
      <br>
      <th class="nome">{{produto.categoria}}</th>
    </div> -->
