<body>
  <section class="home">
    <div class="description">
      <h1 class="title">
        <span class="gradient-text">Grow Professionally</span> with the Best
      </h1>
      <p class="paragraph">
        "Transforme seu tempo em algo valioso! Nosso site descomplica a vida, permitindo que você faça seus pedidos sem enfrentar filas. Desfrute do que realmente importa, sem perder tempo!"
      </p>
      <form id="form" autocomplete="off">

        <button type="submit" class="btn" aria-label="submit" routerLink="login">

          <span>Inscrever</span>

        </button>
      </form>
    </div>

    <div class="users-color-container">
      <span class="item" style="--i: 1"></span>
      <img
        class="item"
        src="../../../assets/imagens/fabio.jpeg"
        style="--i: 2"
        alt="" />
      <span class="item" style="--i: 3"></span>
      <img
        class="item"
        src="../../../assets/imagens/kevin.jpeg"        style="--i: 4"
        alt="" />

      <img
        class="item"
        src="../../../assets/imagens/andre.jpeg"         style="--i: 10"
        alt="" />
      <span class="item" style="--i: 11"></span>
      <img class="item" src="../../../assets/imagens/jessica.jpeg" style="--i: 12" alt="" />
      <span class="item" style="--i: 5"></span>

      <span class="item" style="--i: 9"></span>
      <img class="item" src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/86c71a79-2efe-4567-8665-b1e5a1fd9735" style="--i: 8" alt="" />
      <span class="item" style="--i: 7"></span>
      <img class="item" src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/97ef9643-5202-41aa-80f0-ceeabccdd099" style="--i: 6" alt="" />
    </div>
  </section>

  <section class="card-container" id="card-container">
    <div class="slider">
      <div class="card" data-tilt>
        <div class="content">
          <img src="https://bkpsitecpsnew.blob.core.windows.net/uploadsitecps/sites/39/2023/10/semanaDev_DESTAQUES.png" alt="" />
          <h1>Semana de Desenvolvimento Pessoal</h1>
          <p class="noticia">
            Prezada Comunidade Fatecana, O Programa de Intervenção Cultural Multidisciplinar e os Núcleos de Música e de Diversidade vêm, por meio deste, agradecer o engajamento,

          </p>
          <a href="https://fatecitu.cps.sp.gov.br/i-semana-de-desenvolvimento-pessoal-e-profissional/" class="btn btn-grad" target="_blank">
            Ler noticia
          </a>
        </div>
      </div>

      <div class="card" data-tilt>
        <div class="content">
          <img src="https://bkpsitecpsnew.blob.core.windows.net/uploadsitecps/sites/39/2023/10/WhatsApp-Image-2023-10-04-at-19.55.13.jpeg" alt="" />
          <h1>Inspiration & Motivation</h1>
          <p>
            No dia 04 de Outubro de 2023, ocorreu uma reunião de grande significado entre os alunos do curso de Psicologia do CEUNSP e a direção da Fatec Itu, com a presença da Professora Dra. Juliana
          </p>
          <a href="https://fatecitu.cps.sp.gov.br/reuniao-com-alunos-do-curso-de-psicologia-do-ceunsp-e-a-direcao-da-fatec-itu/" class="btn btn-grad" target="_blank">
            Ler noticia
          </a>
        </div>
      </div>

    </div>

  </section>
    <!-- <ul class="control" id="custom-control">
      <li class="prev"> -->
        <!-- <ion-icon class="arrow" name="caret-back-outline"></ion-icon> -->
      <!-- </li>
      <li class="next"> -->
        <!-- <ion-icon class="arrow" name="caret-forward-outline"></ion-icon> -->
      <!-- </li>
    </ul> -->

</body>
