<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> -->

<nav>
  <a class="cabecalho ff-inter">
    <div class="logo">
    </div>
  </a>
  <ul class="links">
    <!-- <li class="add"> <a routerLink="admin">Admin</a></li>
    <li class="add"> <a routerLink="cadastro">Cadastro</a></li>
    <li class="add"> <a routerLink="login">Login</a></li> -->
    <li class="add"> <a routerLink="/home">Home</a></li>
    <!-- <li class="add"> <a routerLink="criar">Criar Produtos</a></li>
    <li class="add"> <a routerLink="listar">Listagem</a></li> -->
    <li class="add"> <a routerLink="/sobre">Sobre</a></li>
    <li class="add"> <a routerLink="/carrinho"><i class="fas fa-shopping-cart icon-white-black icon-large icon-even-wider"></i></a></li>
  </ul>
</nav>
