/* BACKGROUND 2

position: absolute;
width: 885.66px;
height: 769.36px;

transform: rotate(-67.75deg);


/* Group

position: absolute;
width: 885.66px;
height: 769.36px;

transform: rotate(-67.75deg);
*/

/* Vector

position: absolute;
width: 559.55px;
height: 710.75px;

/* Linear
background: linear-gradient(98.81deg, #B20000 87.14%, #FE0A51 101.53%);
transform: matrix(1, -0.02, -0.02, 1, 0, 0);
*/
