<div class="container" >
  <a class="links" id="paracadastro"></a>
  <a class="links" id="paralogin"></a>

  <div class="content">
    <!--FORMULÁRIO DE CADASTRO-->
    <div id="cadastro">
      <form method="post" action="">
        <h1>Cadastro</h1>

        <p>
          <label for="nome_cad">Nome</label>
          <input id="nome_cad" name="nome_cad" required="required" type="text" placeholder="Jéssica Gonçalves" />
        </p>

        <p>
          <label for="email_cad">E-mail</label>
          <input id="email_cad" name="email_cad" required="required" type="email" placeholder="jessica@teste.com"/>
        </p>

        <p>
          <label for="senha_cad">Nova senha</label>
          <input id="senha_cad" name="senha_cad" required="required" type="password" placeholder="12345678"/>
        </p>
        <p>
          <label for="senha_cad">Confirme a senha</label>
          <input id="senha_cad" name="senha_cad" required="required" type="password" placeholder="12345678" />

        </p>
        <div class="login-box">
          <form>

            <a href="#">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              CADASTRAR
            </a>
          </form>
        </div>


        <p class="link">
          Já tem conta?
          <a href="login"> Ir para Login </a>
        </p>
      </form>
    </div>

