<div id="teste">


  <section class="container">
    <header class="header d-flex">
      <h2 class="ff-inter">Login</h2>

    </header>
  </section>

  <section class="container home ff-inter">
    <form>
<div>


</div>
<input
      type="url"
      class="input"
      id="Produto"
      name="Produto"
      placeholder="Digite seu Email"

      >

      <input
      type="password"
      class="input"
      id="Produto"
      name="Produto"
      placeholder="Digite sua senha"

      >
    </form>

  <h2 class="ff-inter">Cadastre - se</h2>

</section>


<button class="botaoHome">Facebook</button> <button class="botaoGoogle">Google</button>
<br>

<small class="TextoRecuperar ff-inter">
  Recuperar senha
</small>
<button class="botaoLogin">Login</button>

</div>
